# Copyright (c) 2022 GEIST
# SPDX-License-Identifier: MIT

if SHIELD_KLOR_LEFT

config ZMK_KEYBOARD_NAME
    default "KLOR"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # KLOR_LEFT

if SHIELD_KLOR_LEFT || SHIELD_KLOR_RIGHT

config ZMK_SPLIT
    default y

# Display config handled by zmk-nice-oled module (nice_oled / nice_oled_32 shields)

endif # KLOR_LEFT || KLOR_RIGHT
