/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 * FLIPPED LAYOUT - LEFT/CENTRAL side
 * - Uses original LEFT PCB (flipped, MCU on top, sockets on opposite side)
 * - Display on central shows: layer, BT status, battery, WPM
 * - Receives Cirque input from right peripheral via input-split
 * - Column GPIOs reversed to account for physical flip
 *
 * MAINLINE ZMK - uses zmk,input-listener (not badjeff's input-behavior-listener)
 */

#include "hillside_view.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <dt-bindings/zmk/input_transform.h>

&kscan0 {
    /* Same column order as original LEFT - flipping PCB doesn't change electrical routing */
    col-gpios
        = <&gpio1 7 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        , <&pro_micro 16 GPIO_ACTIVE_HIGH>
        , <&pro_micro 10 GPIO_ACTIVE_HIGH>
        ;
};

&left_encoder {
    status = "okay";
    a-gpios = <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    b-gpios = <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
};

&chosen {
    zephyr,display = &nice_view;
};

/* nice!view display */
&nice_view_spi {
    status = "okay";
};

&nice_view {
    status = "okay";
};

/* Enable the input listener on central to process Cirque events from peripheral */
&glidepoint_listener {
    status = "okay";
    /* Y-invert to correct orientation */
    input-processors = <&zip_xy_transform (INPUT_TRANSFORM_Y_INVERT)>;
};
