/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "hillside_view.dtsi"

&kscan0  {
    col-gpios
        = <&gpio1 7 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        , <&pro_micro 16 GPIO_ACTIVE_HIGH>
        , <&pro_micro 10 GPIO_ACTIVE_HIGH>
        ;
};

// Encoder disabled - testing sleep/wake issue
// &left_encoder {
//     status = "okay";
//   a-gpios = <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
//   b-gpios = <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
// };

// Display configured via nice_view_adapter + nice_epaper shields from zmk-nice-oled module

/ {
  // Virtual input device on central, receives relayed events from peripheral
  glidepoint1: virtual_input {
    compatible = "zmk,virtual-input";
  };

  // Map relay channel to virtual input device on central
  input_relay_config_102 {
    compatible = "zmk,split-peripheral-input-relay";

    // Channel ID matching peripheral relay-channel
    relay-channel = <102>;

    // Virtual input device to emit events on central
    device = <&glidepoint1>;
  };

  // Input listener for the virtual trackpad device
  tpad_listener {
    compatible = "zmk,input-listener";
    device = <&glidepoint1>;
    // Uncomment to adjust trackpad behavior:
    // y-invert;
    // x-invert;
    // xy-swap;
    // scale-multiplier = <2>;
  };
};
